# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env
.env.local

# Build files
frontend/dist/
frontend/build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
